__pycache__
*.ckpt
*.safetensors
*.pth
.DS_Store
/ESRGAN/*
/SwinIR/*
/repositories
/torch_compile_debug
/venv
/random_res_config
/tmp
/model.ckpt
/models/**/*
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/ui-config.json
/outputs
/config.json
/config_linux.json
/log
/webui.settings.bat
/styles.csv
/params.txt
/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
notification.mp3
/SwinIR
/textual_inversion
.vscode
/test/stdout.txt
/test/stderr.txt
/cache.json*
/config_states/
/node_modules
/package-lock.json
/.coverage*
/test/test_outputs
/cache
trace.json
/sysinfo-????-??-??-??-??.json
4.8.0
ranbooru_cache.sqlite
webui.bundle
webui.cert
webui.key
main.obj
main.lib
main.exp
/extensions/*
!/extensions/put extensions here.txt
webui-user-8160-gpu3-nopass.sh
webui-user-8160-gpu3-nopass_fp8.sh
/models/VAE/*
!/models/VAE/Put VAE here.txt
*.sh
*.bat

!webui.bat
!webui.sh
!webui-macos-env.sh
!webui-user.bat
!webui-user.sh
CLAUDE.md
.claude/settings.local.json
webui-user.sh
webui-user.sh
